In [1]:
import requests
from config import api_key
import pandas as pd
import json
import os
from sqlalchemy import create_engine
import numpy as np
from pprint import pprint 
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://www.imdb.com/list/ls091992849/'
browser.visit(url)
html = browser.html
movies_soup = soup(html, 'html.parser')

In [4]:
movie_elems = movies_soup.find_all('h3', class_='lister-item-header')

browser.quit()

In [5]:
movie_titles = []

In [6]:
for elem in movie_elems:
#     print(elem)
#     print()
    title = elem.find('a').text
#     print(title)
#     break
    movie_titles.append(title)
    
movie_titles

['Black Panther: Wakanda Forever',
 'Spirited',
 'The Menu',
 'Disenchanted',
 'A Christmas Story Christmas',
 'Slumberland',
 'The Wonder',
 'Avatar: The Way of Water',
 'Bones and All',
 'Black Adam',
 'A Christmas Story',
 'Glass Onion: A Knives Out Mystery',
 'Smile',
 "Don't Worry Darling",
 'Enchanted',
 'Where the Crawdads Sing',
 'The Fabelmans',
 'Triangle of Sadness',
 'Strange World',
 'Planes, Trains & Automobiles',
 'The People We Hate at the Wedding',
 'Nope',
 'Barbarian',
 'Bullet Train',
 'Drishyam 2',
 'X',
 'She Said',
 'Weird: The Al Yankovic Story',
 'All Quiet on the Western Front',
 'The Whale',
 'Top Gun: Maverick',
 'Enola Holmes 2',
 'Elemental',
 'Christmas with You',
 'The Noel Diary',
 'The Banshees of Inisherin',
 'Devotion',
 'Everything Everywhere All at Once',
 'Amsterdam',
 'Terrifier 2',
 "National Lampoon's Christmas Vacation",
 'Knives Out',
 'Black Panther',
 'TÃ¡r',
 'See How They Run',
 "Guillermo del Toro's Pinocchio",
 'Armageddon Time',
 'Kantara',
 'Avatar',
 'Violent Night',
 'Indiana Jones and the Dial of Destiny',
 'R.I.P.D. 2: Rise of the Damned',
 'Inside',
 'The Addams Family',
 'Home Alone',
 'Pearl',
 'The Woman King',
 'The Good Nurse',
 'Thor: Love and Thunder',
 'Legend of the White Dragon',
 'Lamborghini: The Man Behind the Legend',
 'Stutz',
 'The Godfather',
 'The Batman',
 'Babylon',
 'Ticket to Paradise',
 'Enola Holmes',
 'The Northman',
 "Roald Dahl's Matilda the Musical",
 'Lyle, Lyle, Crocodile',
 'My Policeman',
 'Elf',
 'The Swimmers',
 'Love Actually',
 'The Santa Clause',
 'Till',
 'Willow',
 'Addams Family Values',
 'Top Gun',
 'Dhokha',
 'Terrifier',
 'How the Grinch Stole Christmas',
 'The Shawshank Redemption',
 "Harry Potter and the Sorcerer's Stone",
 'The Last Manhunt',
 'Rogue One: A Star Wars Story',
 'White Noise',
 'Aftersun',
 'The Bad Guys',
 'Fall',
 'Elvis',
 'Monica, O My Darling',
 'The School for Good and Evil',
 'The Wolf of Wall Street',
 'Once Upon a Time in Hollywood',
 'The Wizard of Oz',
 'Pulp Fiction',
 'Dune',
 'Poker Face',
 'Falling for Christmas']

In [11]:
# import requests
from config import api_key
import pprint
pp = pprint.PrettyPrinter(indent=4)

movie_data = []

for title in movie_titles:
    title = title.replace(" ", "+")
    link = f"https://www.omdbapi.com/?apikey={api_key}&t={title}"
#     print(link)
#     print()
    result = requests.get(link).json()
#     pp.pprint(result)
#     print()

    if result["Response"] != "False":
        movie_title = result["Title"]
        movie_rating = result["imdbRating"]
        movie_votes = result["imdbVotes"].replace(",", "")
    #     print(movie_title)
    #     print(movie_rating)
    #     print(movie_votes)
    #     print()
    #     break

        movie_data.append({"title": movie_title, 
                           "rating": movie_rating, 
                           "vote": movie_votes}) 
    
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

-----------------------------
Data Retrieval Complete
-----------------------------

In [12]:
movie_data_df = pd.DataFrame(movie_data)

movie_data_df.head()

                            title rating    vote
0  Black Panther: Wakanda Forever    7.3  103643
1                        Spirited    6.6   24761
2                        The Menu    7.6   17107
3                    Disenchanted    5.7   14904
4     A Christmas Story Christmas    6.8    8429

In [14]:
from config import api_key
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

ModuleNotFoundError: No module named 'sqlalchemy_utils'

In [ ]:
url = f'postgresql://postgres:{password}@127.0.0.1:5432/movie_project'

In [ ]:
engine = create_engine(url, echo=False)

# Create database if it does not exist.
if not database_exists(engine.url):
    create_database(engine.url)
    connection = engine.connect()
else:
    # Connect the database if exists.
    connection = engine.connect()

In [ ]:
movie_data_df.to_sql(name='movies', con=engine, if_exists='replace', index=False)

In [ ]:
df = pd.read_sql("select * from movies where rating <> 'N/A'", con=engine)
df.head()

In [ ]:
df.dtypes

In [ ]:
df["rating"] = df["rating"].astype(float)
df["vote"] = df["vote"].astype(int)

In [ ]:
df.dtypes